<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="nav">
        <div class="logo">
            <a href="index.html">
                <div class="logo-a"><span class="bold">Cy</span>Ton</div>
            </a>
        </div>
        <div class="links">
            <ul>
                <li class="nav-link"><a href="">Buy</a></li>
                <li class="nav-link"><a href="">Rent</a></li>
                <li class="nav-link"><a href="">Properties</a></li>
            </ul>
            <span class="phone"><a href="">+254 706 649 607</a></span>
            <span class="contact-us"><a href="">Contact Us</a></span>
            <div class="bar">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </nav>
    <section>
        <h1 class="title">Beautiful, affordable plans & BQs</h1>
        <p class="p-title">Browse our catalogue for your dream house plan and turn it into reality</p>
        <div class="filter-plans"><a href=" " class="filter-button">Filters Plans</a></div>
    </section>
    <section class="items">
        <div class="row container">
            <div class="card">
                <img src="featured-1.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Kasarani <br>Sunton</div>
                    <a href="" class="rent-button">RENT | KES 25,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-2.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Westlands <br>Nairobi</div>
                    <a href="" class="rent-button">RENT | KES 32,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-3.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Pwani <br>Mombasa</div>
                    <a href="" class="rent-button">RENT | KES 50,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container">
            <div class="card">
                <img src="featured-1.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Kasarani <br>Sunton</div>
                    <a href="" class="rent-button">RENT | KES 25,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-2.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Westlands <br>Nairobi</div>
                    <a href="" class="rent-button">RENT | KES 32,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-3.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Pwani <br>Mombasa</div>
                    <a href="" class="rent-button">RENT | KES 50,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container">
            <div class="card">
                <img src="featured-1.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Kasarani <br>Sunton</div>
                    <a href="" class="rent-button">RENT | KES 25,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-2.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Westlands <br>Nairobi</div>
                    <a href="" class="rent-button">RENT | KES 32,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-3.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Pwani <br>Mombasa</div>
                    <a href="" class="rent-button">RENT | KES 50,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container">
            <div class="card">
                <img src="featured-1.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Kasarani <br>Sunton</div>
                    <a href="" class="rent-button">RENT | KES 25,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-2.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Westlands <br>Nairobi</div>
                    <a href="" class="rent-button">RENT | KES 32,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-3.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Pwani <br>Mombasa</div>
                    <a href="" class="rent-button">RENT | KES 50,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container">
            <div class="card">
                <img src="featured-1.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Kasarani <br>Sunton</div>
                    <a href="" class="rent-button">RENT | KES 25,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-2.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Westlands <br>Nairobi</div>
                    <a href="" class="rent-button">RENT | KES 32,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-3.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Pwani <br>Mombasa</div>
                    <a href="" class="rent-button">RENT | KES 50,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container">
            <div class="card">
                <img src="featured-1.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Kasarani <br>Sunton</div>
                    <a href="" class="rent-button">RENT | KES 25,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-2.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Westlands <br>Nairobi</div>
                    <a href="" class="rent-button">RENT | KES 32,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-3.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Pwani <br>Mombasa</div>
                    <a href="" class="rent-button">RENT | KES 50,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container">
            <div class="card">
                <img src="featured-1.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Kasarani <br>Sunton</div>
                    <a href="" class="rent-button">RENT | KES 25,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-2.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Westlands <br>Nairobi</div>
                    <a href="" class="rent-button">RENT | KES 32,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-3.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Pwani <br>Mombasa</div>
                    <a href="" class="rent-button">RENT | KES 50,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container">
            <div class="card">
                <img src="featured-1.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Kasarani <br>Sunton</div>
                    <a href="" class="rent-button">RENT | KES 25,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-2.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Westlands <br>Nairobi</div>
                    <a href="" class="rent-button">RENT | KES 32,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-3.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Pwani <br>Mombasa</div>
                    <a href="" class="rent-button">RENT | KES 50,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">Bosire Allan Nyaachi | The Agency</div>
        <div><a href="" class="footer-a">GitHub</a></div>
    </footer>
</body>

</html>
