<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./swiper-bundle.min.css" />

    <script src="./swiper-bundle.min.js"></script>
    <link href="./aos.css" rel="stylesheet">
    <script src="./aos.js"></script>
    <script src="./main.js"></script>
</head>

<body>
    <nav class="nav">
        <div class="logo">
            <a href="index.html">
                <div class="logo-a"><span class="bold">Cy</span>Ton</div>
            </a>
        </div>
        <div class="links">
            <ul>
                <li class="nav-link"><a href="">Buy</a></li>
                <li class="nav-link"><a href="">Rent</a></li>
                <li class="nav-link"><a href="">Properties</a></li>
            </ul>
            <span class="phone"><a href="">+254 706 649 607</a></span>
            <span class="contact-us"><a href="">Contact Us</a></span>
            <div class="bar">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </nav>
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <section class="landing">
                    <img src="./slide-1.jpg" alt="" class="landing-img">
                    <div class="hovering-card" data-aos="fade-up" data-aos-duration="1000" id="card-1">
                        <div class="card-title">Villa at the Coast</div><span class="for">For Rent</span>
                        <div class="price">
                            <div class="cash">KES 15,000</div><span class="month">/month</span>
                        </div>
                        <div class="description">Go Big or Go Home! Get your own villa along the coast of Mombasa.
                            Comple</div>
                        <div class="row features">
                            <div class="size"><span>500</span>Sq Ft</div>
                            <div class="rooms"><span>1</span>Bedrooms</div>
                            <div class="parking"><span>2</span>Parking Slots</div>
                        </div>
                        <div class="learn-more"><a href="browse.html">Learn More</a></div>
                    </div>
                </section>
            </div>
            <div class="swiper-slide">
                <section class="landing">
                    <img src="./slide-2.jpg" alt="" class="landing-img">
                    <div class="hovering-card" data-aos="fade-up" id="card-2">
                        <div class="card-title">All Kind Of Houses</div><span class="for">For Rent</span>
                        <div class="price">
                            <div class="cash">KES 15,000</div><span class="month">/month</span>
                        </div>
                        <div class="description">Get cheap sub-urban type houses for rent</div>
                        <div class="row features">
                            <div class="size"><span>500</span>Sq Ft</div>
                            <div class="rooms"><span>1</span>Bedrooms</div>
                            <div class="parking"><span>2</span>Parking Slots</div>
                        </div>
                        <div class="learn-more"><a href="browse.html">Learn More</a></div>
                    </div>
                </section>
            </div>
            <div class="swiper-slide">
                <section class="landing">
                    <img src="./slide-3.jpg" alt="" class="landing-img">
                    <div class="hovering-card" id="card-3">
                        <div class="card-title">All Kind Of Houses</div><span class="for">For Rent</span>
                        <div class="price">
                            <div class="cash">KES 15,000</div><span class="month">/month</span>
                        </div>
                        <div class="description">Get cheap sub-urban type houses for rent</div>
                        <div class="row features">
                            <div class="size"><span>500</span>Sq Ft</div>
                            <div class="rooms"><span>1</span>Bedrooms</div>
                            <div class="parking"><span>2</span>Parking Slots</div>
                        </div>
                        <div class="learn-more"><a href="./browse.html">Learn More</a></div>
                    </div>
                </section>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>


    <section class="featured">
        <div class="row m">
            <h1>Latest Properties</h1><span>All Property</span>
        </div>
        <div class="row container">
            <div class="card">
                <img src="featured-1.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Kasarani <br>Sunton</div>
                    <a href="" class="rent-button">RENT | KES 25,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-2.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Westlands <br>Nairobi</div>
                    <a href="" class="rent-button">RENT | KES 32,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="featured-3.jpg" alt="" class="featured-img">
                <div class="card-stuff">
                    <div class="featured-card-title">Pwani <br>Mombasa</div>
                    <a href="" class="rent-button">RENT | KES 50,000</a>
                    <div class="click">Click here to view</div>
                    <div class="more-info">
                        <div class="area">
                            <span class="area-a">Area</span>
                            100m<sup><small>2</small></sup>
                        </div>
                        <div class="featured-bedrooms">
                            <span class="bedrooms-b">Rooms</span>
                            3
                        </div>
                        <div class="featured-garages">
                            <div class="parking-p">Parking</div>
                            2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="search">
        <h1>Search Property</h1>
        <div class="enclos">
            <div class="left-side">
                <div class="form">
                    <form action="">
                        <div class="p"><label for="price">Price</label>
                            <input type="number" value="any" class="numbered">
                            <input type="number" value="any" class="numbered-a">
                        </div>
                        <div class="ka"><label for="county">County</label>
                            <select name="county" id="county">
                                <option value="nairobi">Nairobi</option>
                                <option value="mombasa">Mombasa</option>
                                <option value="eldoret">Eldoret</option>
                                <option value="kisumu">Kisumu</option>
                                <option value="nakuru">Nakuru</option>
                                <option value="naivasha">Naivasha</option>
                                <option value="kisii">Kisii</option>
                            </select>
                        </div>
                        <div class="ka"><label for="sub-county">Sub County</label>
                            <select name="sub-county" id="sub-county">
                                <option value="kasarani">Kasarani</option>
                                <option value="makadara">Makadara</option>
                                <option value="cbd">CBD</option>
                            </select>
                        </div>
                        <div class="ka"><label for="bedrooms">Bedrooms</label>
                            <select name="bedrooms" id="bedrooms">
                                <option value="2">2</option>
                                <option value="studio">Studio</option>
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="ka"><a href="" type="button" class="submit">Submit</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right-side"></div>
        </div>
    </section>
    <section class="testimonials">
        <h1>Testimonials</h1>
        <div class="container flex">
            <div class="left"><img src="testimonial-1.jpg" alt="" class="testimonial-img"></div>
            <div class="right">
                <span class="quote">"</span>
                <div class="paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque illo enim inventore
                    voluptatum sed, sint at iure nobis reprehenderit?
                </div>
                <div class="flex b"><img src="testimonial-1.jpg" alt="" class="small-img">
                    <div class="name">Akira & Boruto</div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">Bosire Allan Nyaachi | The Agency</div>
        <div><a href="" class="footer-a">GitHub</a></div>
    </footer>
    <script>

        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },
            speed: 2000,
            spaceBetween: 30,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },


            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });

        AOS.init();
    </script>
</body>

</html>
